/* shared style */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    background: #FFF;
}

/* top banner section's style  */
header {
    color: #FFF;
    text-align: center;
    margin: 50px 140px;
    border-radius: 16px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("resources/BannerImage.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-banner {
    padding: 210px 350px;
}

.greetings-title {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}

.greetings-info {
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    color: #FFFFFF;
    line-height: 95px
}

/* all category with 65 % of container style */
.category-container {
    text-align: center;
    margin: 120px 0px;
}

.spetial-deal-amount {
    color: #F00;
    font-family: Inter;
    font-style: normal;
    font-size: 88px;
    font-weight: 700;
}

.spetial-deal-title {
    color: #F00;
    font-family: Inter;
    font-style: normal;
    font-size: 24px;
    font-weight: 500;
    padding-top: 45px;
    padding-bottom: 5px;
}

.special-deal-category {
    color: #070211;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 45px;
}

/* welcome container's style  */
.welcome-banner {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("resources/Vectorrr.png");
    background-size: cover;
    margin: 50px 140px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
}

.welcome-greeting {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
}

.welcome-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-top: 25px;
}

.welcome-info {
    max-width: 700px;
    padding-top: 125px;

}

.welcome-link {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-left: 50px;
    padding-top: 50px;
    padding-bottom: 145px;

}

/* Event informtaion details container style  */
.event-details-container {
    border-radius: 16px;
    margin: 150px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}

.event-details-container div {
    font-family: Inter;
    text-align: center;
    padding: 100px 0px;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 66px;
}

.event-details-container span {
    color: #F00;
}

.event-details-container button {
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    margin-top: 50px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}


/* offers container style  */
.offer-container {
    display: flex;
    padding: 150px;
    justify-content: space-between;
    align-items: center;
}

.offer-info {
    width: 30%;
}

.best-offer-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.incoming-offer-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding: 20px 0px;
}

.incoming-offer-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 20px;
}

.offers-celebration {
    border: 20px solid #F00;
    border-radius: 350px;
    padding: 30px;
}

.incoming-offer-date {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 20px;
}

/* gift conteriner styles */
.gifts-container {
    padding: 150px;
}

.gift-greeting {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 16px 0px;
}

.gift-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding-bottom: 24px;
}

.gift-descritption {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 40px;
}

.gits-row-1 {
    display: flex;
    justify-content: space-between;
    width: auto;
}

.gift-row-2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 25px;
}

.gifts-img-container img {
    height: 550px;
    width: 500px;
    opacity: 0.85;
}

.gifts-img-container img:hover {
    opacity: 1;
}

/* newsletter section  */
.newsletter-container {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: 0px 150px;
    margin-bottom: 120px;
}

.newsletter-info {
    text-align: center;
    padding: 80px 0px;
}

.subcription-tittle {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding-top: 40px;
}

.subcription-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding: 24px 0px;
}

.newsletter-info input[type="email"] {
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    height: 72px;
    width: 350px;
    border: none;
    padding-left: 30px;
}

.newsletter-info input[type="submit"] {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    height: 72px;
    width: 150px;
    border: none;
    text-align: center;
    font-size: 17px;
    color: #FFF;
}

/* Footer  */
footer {
    background: #070211;
    padding: 120px 150px;
    color: #FFF;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    line-height: 30px;
}

.contact-deatails {
    padding-right: 125px;
}

.contact-deatails img {
    padding-right: 16px;
}

.contact-deatails div {
    display: flex;
}

footer hr {
    border: none;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
    margin: 50px 0px;
}

.social-container {
    display: flex;
    justify-content: center;
}

.logo-container img {
    margin: 0px 20px;
}

.copyright-container {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 20px;
}

/* Functional container style  */
.functional-discount-info {
    text-align: center;
    padding-bottom: 150px;
}

.functional-discount-title {
    color: #070211;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.functional-discount-amount {
    color: #070211;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding: 20px 0px;
}

.functional-container {
    padding: 150px;
    margin-top: 200px;
}

.lower-rectangle {
    width: 100%;
    display: flex;
}

.lower-rectangle img {
    flex-grow: 1;
    border-radius: 16px;
}

.functional-discount-countainer {
    position: relative;
}

.functional-discount img {
    position: absolute;
}

.unboxing {
    margin-top: -400px;
}

.excited-women {
    margin-left: 1170px;
    margin-top: -432px;
    border-radius: 16px;
}

.discounts {
    margin-left: 990px;
    margin-top: -350px;
    z-index: 1;
}